html {
     scroll-behavior: smooth;
}

.button {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.header {
    padding: 30px;
    background: #494867;
    color: white;
    font-size: 30px;
    justify-content: space-between;
    display: flex;
}