body {
    background-color:#9398B3;
    font-family: 'Roboto', sans-serif;
}

.frontCard {
    margin: auto;   
    text-align: center;
    font-size: 40px;
}

.frontImages {
    align-items: center;
    margin :auto;
    width: 40%;
}